@import "tailwindcss";

@theme {
  --font-sans: "Inter", system-ui, sans-serif;

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-border: var(--border);

  --color-primary: #101010;
  --color-accent: #6d6d6d;
}

:root {
  --background: #ffffff;
  --foreground: #000000;
  --card: #f9f9f9;
  --card-foreground: #000000;
  --border: #e4e4e7;
}

.dark {
  --background: #000000;
  --foreground: #ffffff;
  --card: #0a0a0a;
  --card-foreground: #ffffff;
  --border: #27272a;
}

@layer base {
  body {
    background-color: var(--background);
    color: var(--foreground);
    @apply antialiased;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  }
}

.glass {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.dark .glass {
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}