@import "tailwindcss";

@theme {
  --font-sans: "Inter", system-ui, sans-serif;
  --color-primary: #101010;
  --color-accent: #6d6d6d;

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-border: var(--border);
}

:root {
  --background: #ffffff;
  --foreground: #000000;
  --card: #f9f9f9;
  --card-foreground: #000000;
  --border: #e4e4e7;
}

.dark {
  --background: #000000;
  --foreground: #ffffff;
  --card: #0a0a0a;
  --card-foreground: #ffffff;
  --border: #27272a;
}

@layer base {
  body {
    @apply bg-background text-foreground antialiased;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  }
}

.glass {
  @apply bg-white/10 backdrop-blur-md border border-white/20;
}

.dark .glass {
  @apply bg-black/10 backdrop-blur-md border border-white/10;
}